{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/servicios.css' %}">

    <title>Document</title>
</head>
<body>


{% block content %}

<form method="POST" action="{% url 'servicios' %}">
      {% csrf_token %}
      <div class="formulario">
        <div class="contenedor_form">
            <h1>Servicios</h1>
            <h4>AGREGAR</h4>
            <div class="campos_forms">
              <p class="eqtiqueta_form">Nombre</p>
              <input class="input_campo" type="text" name="nombre" placeholder="nombre" id="nombre">
            </div>
          
            <div class="campos_forms">
              <p class="eqtiqueta_form">Precio</p>
              <input class="input_campo" type="input" name="precio" placeholder="precio" id="precio">
            </div>

            <div class="campos_forms">
                <p class="eqtiqueta_form">Descripcion</p>
                <input class="input_campo" type="text" name="descripcion" placeholder="descripcion" id="descripcion">
              </div>
            <div class="campos_forms" style="margin-top: 2em;">
              <input class="boton_ver_mas" type="submit" value="Guardar" />
            </div>
        </div>
      </div>
</form>
    {% endblock %}



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>